# Globally ignored patterns
*.cache.html
*.cache.png
*.rpc
*.iws
*.pyc

# Globally ignored filenames and directory names
.DS_Store
.cvsignore
.qmbignore
CVS
classes
bin

# Locally ignored (path-specific) files and directories.  
/.settings/
/.externalToolBuilders/
/.gradle/
/.fbprefs
*custom-generated/
target/
*war/
*settings/
*.edit/
*.editor/
xtend-gen/

# Emacs  backups
*~
\#*#

# IntelliJ files
*.iml
*.ipr

# Apparently useless patterns - nothing matched in my workspace (Andy)
*RestApiMetamodel.tests/

